body, html {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #7F9183, #586F6B);
    background-color: #586F6B;
    justify-content: center;
    align-items: center;
}

.Tudo {
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom, rgba(158, 160, 165, 0.836), rgba(109, 213, 250, 0.8));
    min-height: 360px;
    height: 40%;
    max-width: 400px;
    width: 60%;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
.ContainerNormal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Define a largura da metade do container */
}
button{
    margin: auto;
    height: 50px; /* Define a altura mínima para os botões */
    width: 100%; /* Os botões ocupam toda a largura do container */
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px;
    border-color: black;   
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}






